html {
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;    
    min-height: 100%;
    background-color: transparent !important;
    background-image: radial-gradient(rgb(59, 59, 59), rgb(4, 4, 4));
}

canvas {
    z-index: 0;
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    margin:0 auto
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
button {
    z-index: 5;
}
.entrybox {
    background-color: rgba(0, 0, 0, 0.206);
    color: darkgray;
    font-family: 'Roboto', sans-serif;
    font-size: large;

    border: none !important;

    /* border-radius: 30px; */
    /* border-style: solid; */
    /* pointer-events: none; */

    z-index: 5;

    resize: horizontal;
    overflow:hidden;
    width:inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* text-align: center; */
    vertical-align: middle;
    position: relative;
     width: 25%; 
    /* height: 80%; */
    padding-left: 10px;
    padding-top: 10px;
    left: 0%;

    :focus {
        color: white;
        outline: none;
    }
}
p {
    overflow-wrap: break-word;
}
.dragTarget {
    position: absolute;
    top: 40px;
    right: 62px;
    /* margin-top: -218px; */
    /* margin-left: -320px; */
    background-image: url('imgs/DropHere.svg');
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    opacity: 30%;
    z-index: 10;
}
.dragTarget:hover {
        opacity: 80%;
}

.meshesContainer {
    position: absolute;
    top: 180px;
    right: 40px;
    /* border-style: solid; */
    border-color: rgb(87, 87, 87);
    border-radius: 40px;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.158);
    /* opacity: 30%; */
    z-index: 10;
}

.mesh {
    margin-left: 3.5%;
    margin-top: 5%;
    width: 90%;
    height: 80px;
    border-color: rgb(87, 87, 87);
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 255, 255, 0);
    padding-top: 0px;
    color: rgb(187, 187, 187);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-right: 10px;
    overflow-wrap: break-word;
    text-align: center;
    margin-left: 5px;
    /* border-style: solid; */
}

.icon {
    margin: 0;
    padding-left: 10px;
    height: 30px;
    width: 30px;
    opacity: 40%;

    :hover {
        opacity: 80%;
    }
}

nav {
    z-index: 9999;
}